<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">시험지 APP</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="testimonials.html">Testimonials</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="blog-post-list.html">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="blog-post.html">Blog Post</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="payment-page.html">Payment</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration.html">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div>
                    <div class="post-body" style="padding:40px 40px;">
                        <h3 class="text-center">사회 - 법과 정치</h3><span class="float-right" style="margin:0;color:#00a3dd;">난이도 : 중급</span><span class="d-inline" style="margin:0;color:#00a3dd;">종합 시험지</span>
                        <div class="post-info">
                            <hr>
                            <h4 class="text-center">객관식 문제(20개)</h4>
                            <div class="faq-item">
                                <hr>
                                <h5 class="text-center question"><strong>1. 다음 중 틀린 내용은?</strong><br></h5>
                                <figure class="figure"></figure>
                                <div class="answer">
                                    <p class="text-center" style="margin:0px 0 30px 0;">갑이 어쨌고 을이 어쨌는데 어쨌든 어쩌어쩌한 상황임</p><img class="rounded img-fluid" src="assets/img/avatars/avatar2.jpg" alt="A generic square placeholder image with rounded corners in a figure." style="margin:0 0 40px 0;">
                                    <ul class="list-group">
                                        <li class="list-group-item" style="padding:5px;"><span>1. 을이 나빴네 (클릭시 선택함)</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>2. 갑이 나빴네</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>3. 둘다 나쁘네</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>4. 저는 아무것도 보지 못했습니다</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="faq-item">
                                <hr>
                                <h5 class="text-center question"><strong>2. 다음 중 맞는 내용은?</strong><br></h5>
                                <figure class="figure"></figure>
                                <div class="answer">
                                    <p class="text-center" style="margin:0px 0 30px 0;">갑이 어쨌고 을이 어쨌는데 어쨌든 어쩌어쩌한 상황임</p><img class="rounded img-fluid" src="assets/img/avatars/avatar2.jpg" alt="A generic square placeholder image with rounded corners in a figure." style="margin:0 0 40px 0;">
                                    <ul class="list-group">
                                        <li class="list-group-item" style="padding:5px;"><span>1. 을이 나빴네 (클릭시 선택함)</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>2. 갑이 나빴네</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>3. 둘다 나쁘네</span></li>
                                        <li class="list-group-item" style="padding:5px;"><span>4. 저는 아무것도 보지 못했습니다</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <figure class="figure"></figure>
                        <hr>
                        <h4 class="text-center">서술형 문제(5문제)</h4>
                        <hr><img class="rounded img-fluid" src="assets/img/scenery/image5.jpg" alt="A generic square placeholder image with rounded corners in a figure." style="width:100%;">
                        <div class="row justify-content-center">
                            <div class="col">
                                <p class="text-center" style="margin:30px 0 30px 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum&nbsp;</p>
                                <h6 class="text-center question"><strong>1. 가장 적절한 행동은?</strong><br></h6><input type="text" style="padding:30px;width:100%;height:50px;margin:0 0 30px 0;">
                                <h6 class="text-center question"><strong>2. 위 의견이 틀린 이유는?</strong><br></h6><input type="text" style="padding:30px;width:100%;height:50px;margin:0 0 30px 0;">
                                <h6 class="text-center question"><strong>3. 제시할 수 있는 대안은?</strong><br></h6><input type="text" style="padding:30px;width:100%;height:50px;margin:0 0 30px 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>