<% include ../nav.ejs %>
<main class="page contact-us-page">
  <section class="clean-block clean-form">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">생성할 열의 정보를 입력해주세요</h2>
      </div>
      <form method="post" action="<%= `/input/column/${table_name}` %>">
        <div class="form-group">
          <label class="text-center">열 이름</label>
          <input class="form-control" type="text" name="column_name" />
        </div>
        <div class="form-group">
          <label class="text-center">열 타입</label>
          <select class="custom-select" name="column_type">
            <option selected value="TEXT">TEXT</option>
            <!-- <option value="INT">INT</option>
            <option value="DATE">DATE</option> -->
          </select>
        </div>
        <div class="form-group">
          <input
            class="btn btn-primary btn-block"
            type="submit"
            value="생성하기"
          />
        </div>
      </form>
    </div>
  </section>
</main>
